{% load static %}
{% block content %}
{% load i18n %}

<section id="aboutUs">
    <style>
        .accordion-button:focus {
            box-shadow: none;
            border-color: rgba(0,0,0,.125);
        }
    </style>
    <div class="container py-xl-5" style="padding-bottom: 0px;">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col"><img class="rounded w-100 h-100 fit-cover" style="min-height: 300px;" src="{% static 'img/hand.png' %}"></div>
            <div class="col d-flex flex-column justify-content-center" style="padding-left: 0px;padding-bottom: 0px;padding-right: 0;padding-top: 24px;">
                <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start">
                    <div class="row mt-3 mt-md-0 align-items-center w-100" style="margin-right: 0;margin-left: 0;">
                        <div class="col-auto align-items-center">
                            <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon md">
                                <img src="{% static 'img/ecology-book_white.svg' %}" style="width: 23.5px;">
                            </div>
                        </div>
                        <div class="col mx-auto" style="padding: 0;">
                            <h4 class="mb-0 text-start" style="font-family: readex-pro;font-size: 30px;">
                                {% trans "About us" %}
                                <!-- Sobre nós -->
                            </h4>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px;">
                        <div class="col text-start">
                            <div id="paragrafo">
                                <p style="font-family: readex-pro;margin: 16px;margin-top: 16px;font-size: 16px;">
                                    {% trans "Data Eden is a company inspired and dedicated to protecting personal information of citizens and sensitive corporate data. Here, we acknowledge the importance of privacy and security of information given the highly connected and data-driven world we live in That is why our we made it our mission to be the first line of defense against the undue exploration of your personal data by data brokers, who collect and commercialize customers data, often without the consent - or even the knowledge - of the affected users." %}
                                    <!-- Data Eden is a company inspired and 
                                    dedicated to protecting personal information of citizens and sensitive 
                                    corporate data. Here, we acknowledge the importance of privacy and security 
                                    of information given the highly connected and data-driven world we live in 
                                    That is why our we made it our mission to be the first line of defense 
                                    against the undue exploration of your personal data by data brokers, who 
                                    collect and commercialize customers data, often without the consent - or 
                                    even the knowledge - of the affected users. -->
                                    <!-- A Data Eden é uma empresa inspirada e dedicada à proteção de inform ações pessoais de cidadãos e de dados sensíveis de corporações. 
                                        Aqui, compreendemos a importância da privacidade e segurança da informação neste mundo altamente conectado e movido por dados em que vivemos.
                                        Por isso, nossa missão é ser a linha de defesa contra a exploração indevida de dados por parte dos data brokers, que coletam, agregam e comercializam informações sensíveis do público,
                                        muitas vezes sem o consentimento - ou até mesmo o conhecimento - dos indivíduos afetados.  -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="my-4 mx-4 my-md-5 mx-md-5">
<section id="valores">
    <h2 class="my-5 text-center" style="font-family: readex-pro;">
        {% trans "Our core values" %}
        <!-- Nossos valores -->
    </h2>
    <div class="row">
        <div class="col-10 col-xl-9 mx-auto" style="padding-top: 0px;padding-right: 24px;padding-left: 24px;">
            <div class="accordion my-5" role="tablist" id="accordion-1" style="margin-top: 0px!important;">
                <div class="accordion-item" style="border-bottom-left-radius: 16px;border-bottom-right-radius: 16px;border-top-left-radius: 16px;border-top-right-radius: 16px">
                    <h2 class="accordion-header" role="tab">
                        <button class="accordion-button rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1" style="background: rgb(80,176,73);font-family: readex-pro;font-size: 22px;font-weight: bold;">
                            <span class="w-100" style="color: #50b049;">
                                <div class="row w-100 align-items-center align-text-start">
                                    <div class="col-auto px-0 w-auto">
                                        <div class="bs-icon-md bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon xl">
                                            <img src="{% static 'img/lock_white.svg' %}" width="21" height="22">
                                        </div>
                                    </div> 
                                    <div class="col gx-0 px-0" style="color: white;" style="font-family: readex-pro; font-size: 18px;">
                                        <h4 class="mb-0" style="font-family: readex-pro;">
                                            {% trans "Confidentiality" %}
                                        </h4>
                                            <!-- Confidencialidade -->
                                    </div>
                                </div>
                            </span>
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">
                        <div class="accordion-body">
                            <p class="mb-0" style="font-family: readex-pro; font-size: 14px;">
                                {% blocktrans trimmed %}
                                At Data Eden, confidentiality is an unwavering pillar that guides our every action. We know that trusting your personal information big companies is a delicate decision, and that's why we are commited to preserving your freedom and the choices you make online, by preventing unlawful use of your data. To achieve this, we have adopted rigorous and advanced measures that go beyond industry standards, always keeping up with the latest trends and advances against the most recent threats in the digital scenario.
                                {% endblocktrans %}
                                <!-- At Data Eden, confidentiality is an 
                                unwavering pillar that guides our every action. We know that trusting your 
                                personal information big companies is a delicate decision, and that's why we 
                                are commited to preserving your freedom and the choices you make online, by 
                                preventing unlawful use of your data. To achieve this, we have adopted 
                                rigorous and advanced measures that go beyond industry standards, always 
                                keeping up with the latest trends and advances against the most recent 
                                threats in the digital scenario. -->
                                <!-- Na Data Eden a confidencialidade é um pilar inabalável que direciona todas as nossas ações. 
                                    Reconhecemos que confiar suas informações à grandes corporações é uma decisão delicada, por isso estamos 
                                    intensamente comprometidos em preservar suas escolhas, sem que haja uso indevido, abuso ou roubo de seus 
                                    dados. Para isso adotamos medidas rigorosas e avançadas que ultrapassam os padrões do setor, sempre 
                                    acompanhando as tendências e avanços contra as mais recentes ameaças no cenário digital. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion my-5" role="tablist" id="accordion-2">
                <div class="accordion-item" style="border-bottom-left-radius: 16px;border-bottom-right-radius: 16px;border-top-left-radius: 16px;border-top-right-radius: 16px">
                    <h2 class="accordion-header" role="tab">
                        <button class="accordion-button rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-2 .item-2" aria-expanded="true" aria-controls="accordion-2 .item-2" style="background: rgb(80,176,73);font-family: readex-pro;font-size: 22px;font-weight: bold;">
                            <span class="w-100" style="color: #50b049;;">
                                <div class="row w-100 align-items-center align-text-start">
                                    <div class="col-auto px-0 w-auto">
                                        <div class="bs-icon-md bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon xl">
                                            <img src="{% static 'img/1st-medal_alt.svg' %}" width="21" height="22">
                                        </div>
                                    </div>
                                    <div class="col gx-0 px-0" style="color: white;" style="font-family: readex-pro; font-size: 18px;">
                                        <h4 class="mb-0" style="font-family: readex-pro;">
                                            {% trans "Competence" %}
                                        </h4>
                                        <!-- Competência -->
                                    </div>
                                </div>
                            </span>
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse show item-2" role="tabpanel" data-bs-parent="#accordion-2">
                        <div class="accordion-body">
                            <p class="mb-0" style="font-family: readex-pro; font-size: 14px;">
                                {% blocktrans trimmed %}Ensuring the security of your personal data is our top priority here at Data Eden. Every employee is dedicated and committed to ensuring that your data remains safe against any potential threat. We are always ready to assist you with any request related to the privacy of your data, as we understand that every detail matters to ensure your peace of mind. We emphasize that all our activities are conducted in strict compliance with the applicable data protection regulations and laws in any country. The seriousness with which we treat the protection of your information is a reflection of our commitment to preserving the correct use of your personal data.{% endblocktrans %}
                                <!-- Ensuring the security of your personal data 
                                is our top priority here at Data Eden. Every employee is dedicated and 
                                committed to ensuring that your data remains safe against any potential 
                                threat. We are always ready to assist you with any request related to the 
                                privacy of your data, as we understand that every detail matters to ensure 
                                your peace of mind. We emphasize that all our activities are conducted in 
                                strict compliance with the applicable data protection regulations and laws 
                                in any country. The seriousness with which we treat the protection of your 
                                information is a reflection of our commitment to preserving the correct use 
                                of your personal data. -->
                                <!-- Em nossa empresa, a proteção de suas informações é uma responsabilidade levada extremamente 
                                    a sério por toda nossa equipe. Cada colaborador é dedicado e comprometido em garantir que 
                                    seus dados permaneçam seguros contra qualquer ameaça potencial. Sempre estamos prontos para 
                                    atender qualquer solicitação relacionada à privacidade de seus dados, pois entendemos que 
                                    todo detalhe importa para garantir sua tranquilidade. Ressaltamos que todas as nossas atividades 
                                    são conduzidas em estrita conformidade com as regulamentações e leis de proteção de dados aplicáveis 
                                    em qualquer país. A seriedade com que tratamos a proteção de suas informações é um reflexo de nosso 
                                    compromisso em preservar uso correto de seus dados pessoais. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion my-5 mb-0" role="tablist" id="accordion-3">
                <div class="accordion-item" style="border-bottom-left-radius: 16px;border-bottom-right-radius: 16px;border-top-left-radius: 16px;border-top-right-radius: 16px">
                    <h2 class="accordion-header" role="tab">
                        <button class="accordion-button rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-3 .item-3" aria-expanded="true" aria-controls="accordion-3 .item-3" style="background: rgb(80,176,73);font-size: 22px;font-family: readex-pro;font-weight: bold;">
                            <span class="w-100" style="color: #50b049;">
                                <div class="row w-100 align-items-center align-text-start">
                                    <div class="col-auto px-0 w-auto">
                                        <div class="bs-icon-md bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon xl">
                                            <img src="{% static 'img/community.svg' %}" width="25" height="25">
                                        </div>
                                    </div>
                                    <div class="col gx-0 px-0" style="color: white;" style="font-family: readex-pro; font-size: 18px;">
                                        <h4 class="mb-0" style="font-family: readex-pro;">
                                            {% trans "Transparency" %}
                                        </h4>
                                        <!-- Transparência -->
                                    </div>
                                </div>
                            </span>
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse show item-3" role="tabpanel" data-bs-parent="#accordion-3">
                        <div class="accordion-body">
                            <p class="mb-0" style="font-family: readex-pro; font-size: 14px;">
                                {% blocktrans trimmed %}
                                Transparency is more than an idea for us - It is a fundamental value that permeates and shows itself in all aspects of our services. Our goal is for our customers to feel empowered and safe when choosing us, knowing that we are committed to protecting their information in an ethical, responsible and transparent way, so that we can build a solid and lasting relationship of trust.
                                {% endblocktrans %}
                                <!-- Transparency is more than an idea for us - 
                                It is a fundamental value that permeates and shows itself in all aspects of 
                                our services. Our goal is for our customers to feel empowered and safe when 
                                choosing us, knowing that we are committed to protecting their information 
                                in an ethical, responsible and transparent way, so that we can build a solid 
                                and lasting relationship of trust. -->
                                <!-- Transparência é mais do que uma ideia para nós – É um valor fundamental que permeia e se mostra todos os aspectos de nossos serviços. Nosso objetivo é que nossos clientes se sintam empoderados e seguros ao nos escolherem, sabendo que estamos comprometidos em proteger suas informações de maneira ética, responsável e transparente, para que possamos construir uma relação de confiança sólida e duradoura. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="my-5 mx-5">
{% endblock %}