    {% extends "templates/base.html" %}
    {% load static %}
    {% load i18n %}
    {% load form_error %}
    {% block title %}Data Eden{% endblock title %}
    {% block content %}
    <section>
        <div class="container pb-4 mb-4 pb-md-0">
            <div class="row gy-5 gy-md-0">
                <div class="col-md-6 order-2 order-md-1 text-center text-md-start d-flex justify-content-center align-items-center align-items-md-center justify-content-xl-center">
                    <div style="max-width: 350px;color: var(--bs-emphasis-color);">
                        <h2 class="fw-bold" style="font-family: readex pro;color: var(--bs-emphasis-color);">{% trans "Coming soon..." %}</h2>
                        {% if request.LANGUAGE_CODE == "en" %}
                        <p class="my-3" style="font-family: readex pro;font-size: 16px;color: var(--bs-emphasis-color);">{% trans "We are currently under construction to bring you more peace of mind." %}</p>
                        {% endif %}
                        <p style="padding-bottom: 0px;margin-bottom: 0;color: var(--bs-emphasis-color);">{% trans "Subscribe to get notified when we go live!" %}</p>
                        <p style="color: var(--bs-body-color);border-bottom-color: var(--bs-emphasis-color);">{% trans "-and don't worry, your data's safety is our top priority" %}</p>
                            <form class="row gy-2 gy-md-0 row-cols-1 row-cols-md-2 justify-content-center" action="{% url 'pages:registerEmail' %}" name="email_form" method="post" enctype="multipart/form-data">                                
                                {% if erro == "email" %}
                                    <div class="alert alert-danger px-3 py-2" style="inline-size: fit-content;">
                                        <ul class="mb-0 ps-3">
                                        {% for field, error_list in email_form.errors.items %}
                                            <li class="text-capitalize">
                                                {{ field|as_divs }}
                                            </li>
                                            <ul>
                                            {% for error in error_list %}
                                                <li>
                                                    {{ error|as_divs }}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </ul>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                
                                {% csrf_token %}
                                <div class="col-sm-12 col-md-8 d-flex justify-content-center align-items-center">
                                    <input class="d-flex d-md-flex justify-content-center align-items-center form-control" name="email" id="email" type="email" placeholder="Email" style="padding-left: 5px;font-family: readex pro;">
                                </div>
                                <div class="col-sm col-md-4 d-flex justify-content-center">
                                    {% block buttons %}
                                    <button class="btn btn-primary d-flex justify-content-center" type="submit" style="font-family: readex pro;" data-bs-toggle="submit">
                                        {% trans "Register" %}
                                    </button>
                                    {% endblock buttons %}
                                </div>
                            </form>
                        <div class="d-flex d-md-flex justify-content-center align-items-center align-content-sm-center justify-content-md-start align-items-md-center"></div>
                    </div>
                </div>
                <div class="col-md-6 order-1 order-md-2 text-center text-md-start d-flex justify-content-center align-items-center align-items-md-center justify-content-xl-center">
                    <div class="mb-0 m-sm-4 p-sm-4 p-3 m-3 p-xl-5 m-xl-5 p-xxl-3 m-xxl-3">
                        <img class="rounded img-fluid w-100 fit-cover" src="{% static 'staticfiles/img/watering.svg' %}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "templates/aboutUs.html" %}
    {% include "templates/contactForm.html" with contact_form=contact_form %}
    
    {% endblock content %}